
boby{
	margin:0;
	padding:0;
	box-sizing:border-box;}
   li{
		text-decoration:none;
		list-style:none;
	}
	a{
		text-decoration:none;
	}

.logo{
	width:100px;

}
.header{
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding: 30px;
}
.header nav ul{
	display: flex;
	flex-wrap: wrap;
}

.header nav a {
	display:block;
	padding:10px;


}
.header li + li {
	margin-left:30px;
}


.produtosloja{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding:0px 5%;

}
.product{
	display:flex;
	flex-direction: column;
	margin-top: 20px;
	gap:5px;
}
.product img{
	border-radius: 20px;
}


@media (max-width: 390px){

	.product{
		width: 390px;
		
	


	}
}
@media (max-width: 402px){

	.product{
		width: 400px;
		
	


	}
}
@media (max-width: 800px){

	.product{
		background-color: blue;
		
	


	}
}

